* {
    margin: 0;
    padding: 0;
}
header {
    height:100%;
        width:100%;
        background-image:url(image.avif);
        background-repeat:no-repeat;
        background-size:cover;
        filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.image.avif',sizingMethod='scale');
        -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image.avif',sizingMethod='scale')";
}
.menu {
    /* position: fixed; */
    width: 100%;
}
.menu-1 {
    background-color: rgba(247, 247, 247, 0.916);
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    /* position: absolute; */
    width: 100%;
}
.logo {
flex-grow: 1;
display: flex;
justify-content: center;

}
.list {
flex-grow: 4;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
.list-company, .list-services, .list-contacts, .list-forms{
    margin: 0 20px 0 20px;
}
.logo-1 {
    height: 30px;
    padding: 30px 20px 30px 20px;
}
.block-1 {
    background-color: rgba(255, 255, 255, 0.56);
    /* padding: 30.5vh 0 30.5vh 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.b1-text-1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.b1-text-2 {
    font-size: 30px;
    margin: 10px;
    text-align: center;

}
.b1-text-3 {
    font-size: 30px;
    text-align: center;
}
.b1-text-3:hover {
    text-decoration: underline 2px;
    color: rgb(27, 27, 27);
}
.attestat {
    text-decoration: none; 
    color: black;   
}

/* О компании */

.company {
    padding-bottom: 30px;
}
.b2-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b2-text-1 {
    font-size: 45px;
    padding: 40px 0 40px 0;

}
.block-3 {
    display: flex;
    flex-wrap: wrap;
}
.photo-2 {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 2vw;
    margin-right: 1vw;

}
.homuak-1 {
    max-height: 450px;

}
.b3-list {
    flex-grow: 6;
    width: min-content;
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
    margin-left: 1vw;
}

.b3-list-1-1, .b3-list-2-1, .b3-list-3-1, .b3-list-4-1 {
    font-size: 30px;
    padding: 10px 0 10px 0;
    display: flex;

}
.b3-list-1-2, .b3-list-2-2, .b3-list-3-2, .b3-list-4-2 {
    font-size: 20px;
    text-align: justify;
}
.b3-list-1-1-1, .b3-list-2-1-1, .b3-list-3-1-1, .b3-list-4-1-1 {
    height: 10px;
    width: 10px;
    min-width: 10px;
    margin-top: 7px;
    margin-right: 10px;
    border: 1px black solid;
    background-color: rgb(4, 220, 4);
}

/* Услуги */

.services {
    padding-bottom: 30px;
    background-color: rgb(163, 160, 160);
}
.block-4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b4-text {
    font-size: 45px;
    padding: 40px 0 40px 0;

}
.block-5 {
    display: flex;
    flex-direction: column;

}

.b5-list-1-1 {
    display: flex;
    flex-wrap: wrap;
}
.b5-list-1, .b5-list-2 {
    border: 2px black solid;
    margin: 2vw;
    height: 100px;
    max-width: 800px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
    padding-left: 10px;
}
.b5-list-1-1-1, .b5-list-1-1-2, .b5-list-1-1-3, .b5-list-1-1-4, .b5-list-1-1-5, .b5-list-1-1-6 {
    border: 2px black solid;
    margin: 1vw;
    height: 80px;
    width: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
    padding-left: 10px;
}
.b5-1 {
    text-decoration: none;
    color: black;
}
.b5-1:hover {
    text-decoration: underline 2px;
    color: black;
}

/* Контакты */

.contacts {
    padding-bottom: 30px;
    height: 1000px;
}
.block-6 {
    display: flex;
    padding-top: 20px;
}
.b6-1 {
    font-size: 45px;
    flex-grow: 5;
    margin: 35px 5vw 40px 10vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.img-email-img, .img-phone-img {
    height: 50px 
}
.img-email, .img-phone {
    flex-grow: 1;
    margin: 37px 1vw 10px 1vw;
}
   

.b6-2 {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    font-size: 23px;
    margin: 28px 3vw 10px 2vw;
}
.b6-2-1, .b6-2-2 {
    margin: 5px 0 5px 0;
}
.block-7 {
    display: flex;
}
.b7-forms{
    flex-grow: 1;
    /* border: 2px black solid; */
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 246, 233); 
    margin: 5px 7vw 10px 5vw;
    width: min-content;
}
.b7-forms-1 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin: 25px 1vw 25px 1vw;
}
.b7-forms-2 {
    display: flex;
    flex-direction: column;
    padding: 0 4vw 30px 2vw
}
.form-1 {
    width: 100%;
}
 .name-form, .number-form, .email-form, .message-form, .button-form {
    display: flex;
    width: 100%;
    margin: 15px 0 15px 0;
}
.name-form {
    margin-top: 0;
}

.name-form-1, .number-form-1, .email-form-1, .message-form-1, .button-form-1 {
    box-sizing: border-box;
    width: 100%; 
}
.name-form-2, .number-form-2, .email-form-2 {
    width: 100%;
    font-size: 19px;
    height: 40px;
    padding-left: 25px;
    box-sizing: border-box;
    margin-right: 200px;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    outline: none;
    color: rgb(49, 49, 49);
}
.name-form-2:focus, .number-form-2:focus, .email-form-2:focus, .message-form-2:focus {
    border: 1px rgb(169, 169, 169) solid;
}
.chb1, .chb2, .chb3 {
    display: flex;
    align-items: center;
    margin-right: 3px;
    margin-left: 1.5vw;
}
input[type=checkbox]
{
  -ms-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
}
.chb-1 {
    opacity: 0;
    cursor: inherit;
}
.star, .star-1 {
    color: brown;
    font-size: 25px;
    margin-right: 5px;
}
.star-1 {
    opacity: 0;
    cursor: default;
}
.message-form-2 {
    box-sizing: border-box; 
    width: 100%;
    resize: vertical;
    font-size: 19px;
    margin-right: 200px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 25px;
    padding-top: 10px;
    height: 200px;
    border: 0;
    outline: none;
    color: rgb(49, 49, 49);
}
.button-form-2 {
    width: 100%;
    font-size: 19px;
    height: 40px;
    padding-left: 25px;
    box-sizing: border-box;
    margin-right: 200px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    border: 2px white solid;
}
.button-form-2:hover {
    background-color: bisque;
    border: 2px black solid;
}
.button-form-2:focus {
    background-color: rgb(252, 235, 214);
    border: 5px rgb(63, 63, 63) solid;
}
.button-form-2:focus::after {
    background-color: rgb(255, 255, 255);
    border: 1px rgb(63, 63, 63) solid;
}


/* form > div {
    background: white;
    border-bottom: 2px solid #ccc;
}
.name-form-1, .number-form-1, .email-form-1 {
    border: 0;
    padding: 15px 15px 15px 40px;
    background: #eee;
}
.name-form {
    max-width: 400px;
}
form > div > input[type="text"]:focus + textarea,
form > div > input[type="email"]:focus + textarea {
    outline: 0;
    background: white;
}
form > div > input[type="text"]:valid:focus  + textarea,
form > div > input[type="email"]:valid:focus {
     outline: 0; 
    background: url(galochka.jpg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 10px;
}
.email-form, .number-form {
    padding-left: 10px;
    width: max-content; 
}

.number-form-1, .email-form-1 {
    display: flex;
    align-items: center;
    max-width: 400px; 
}
.chb1, .chb2 {
    width: 15px;
}


 */
.b7-about {
    flex-grow: 1;

}


/* .message-form-1  */